# Vi/Vim/Neovim
**/*.swp
**/*.swo

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Mac
.DS_Store

# Pyhton Artifacts
**/__pycache__

# Dragon Artifacts
**/ddict_orc_*

# Builds
build/
CMakeFiles/
CMakeCache.txt
install/

# Docs
site/
docs/api/*
!docs/api/index.md
docs/radexCpp/
docs/doxyoutput/
